{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-console": [1, { "allow": ["warn", "error"] }],
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-unused-state": 0,
    "no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 1}],
    "semi": [
      "error",
      "never"
    ],
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreUrls": true,
        "ignoreStrings": true
      }
    ]
  }
}
